/* Style for model description section */
.page {
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Style for the model links section */
.model-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

#content {
    margin: 0;
}

#shortModelDesc {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 500;
}

#longModelDesc {
    margin: 0;
    font-weight: 500;
}


/* Button styling */
.btn {
    background-color: #FFFFFF;
    color: black !important;
    padding: 5px 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    gap: 20px;
    min-width: 180px;
    max-height: 50px;
    border-radius: 5px;
    outline: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;

}


.btn:hover {
    background-color: #A0A0A0;
    /* Darker blue on hover */
}

.btn-logo {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

/* Style for Qualcomm AI Hub link */
.ai-hub-link {
    margin-top: 30px;
}

.ai-hub-link a {
    display: inline-block;
    color: #007bff;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.ai-hub-link a:hover {
    color: #005db3;
    /* Darker shade on hover */
}

.modelTitle {
    max-width: 25%;
    /* Define width */
    margin: 0 auto;
    /* Auto margins center the block */
    text-align: left;
    /* Center text inside */
    margin-bottom: 50px;
    margin-left: auto;
}

.modelDescription {
    display: flex;
    justify-content: space-evenly;
    /* Ensure space between text and image */
    align-items: flex;
    /* Align items at the top */
    margin-bottom: 100px;
}

.text-container {
    display: flex;
    flex-direction: column;
    /* Stack text vertically */
    justify-content: flex-start;
    /* Align text at the top */
    max-width: 35%;
    /* Limit the width of the text section */
    text-align: left;
    /* Align text to the left */
    margin-left: auto;
    margin-right: auto;
}

.model-image {
    border-radius: 55%;
    max-width: clamp(50px, 30vw, 600px);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-column: 4/ span 9;
    grid-row: 1/ span 8;
    z-index: -1;
    margin: auto;
}

@media (max-width: 900px) {
    .modelDescription {
        display: block;
        justify-items: center;
    }

    .text-container {
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
        max-width: 100%;
    }

    .model-image {
        margin-left: 50px;
        margin-right: 50px;
        max-width: 100%;
    }
}

.dropdowns {
    margin-bottom: 50px;
    justify-content: space-evenly;
    display: flex;
    gap: 5vw;
    /* Adjusts spacing dynamically */
    flex-wrap: wrap;
    /* Allows items to stack if needed */
}

.dropdown {
    max-width: 200px;
    width: 200px;
    overflow: hidden;
}

.dropdown-btn {
    background-color: #564AFF;
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    max-width: 200px;
    border-radius: 20px;
    outline: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}


.dropdown-btn p {
    margin: 0;
    white-space: nowrap;
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: #f1f1f1;
    padding: 0 10px;
    border-radius: 20px;
}

.dropdown-content p {
    margin: 10px 0;
}

.dropdownItem {
    cursor: pointer;
    user-select: none;
    color: #564AFF;
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: #d1d1d1;
}

.colored-section {
    background-color: #2d2d2d;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.metric-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* Even spacing */
    gap: 50px;
    row-gap: 50px;
    margin: 120px auto;
    /*max-width: 100%;*/
    /* Ensures it doesn’t stretch too much */
    margin-left: 5%;
    margin-right: 5%;
}

.metric-box {
    flex: 1 1 calc(33.33% - 50px);
    max-width: calc(33.333% - 50px);
    /* Ensures 3 boxes per row with space in between */
    min-width: 325px;
    width: 10vw;
    /* Prevents them from getting too small */
    min-height: 160px;
    background-color: #f3f3f3;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding: 0px 20px;
}

.metric-box.blue {
    box-shadow: 5px 5px rgba(53, 191, 255, 0.5);
}

.metric-box.green {
    box-shadow: 5px 5px rgba(35, 134, 54, 0.5);
}

.metric-box.pink {
    box-shadow: 5px 5px rgba(252, 105, 255, 0.5);
}

.metric-box.purple {
    box-shadow: 5px 5px rgba(151, 71, 255, 0.5);
}

.metric-box.red {
    box-shadow: 5px 5px rgba(255, 105, 105, 0.5);
}

.metric-box.orange {
    box-shadow: 5px 5px rgba(255, 157, 0, 0.5);
}


.text-sections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* Dynamic columns */
    justify-content: space-between;
    /* Ensures 3 sections are in a row */
    column-gap: 5vw;
    row-gap: 50px;
    /* Adds space between the sections */
    margin: 20px auto;
    max-width: 100%;
    padding: 5vw;
    /*10%;*/
}

@media (min-width: 1200px) {
    .text-sections {
        grid-template-columns: repeat(3, 1fr);
    }
}

.text-section {
    flex: 1;
    padding: 0 1vw;
    border-radius: 8px;
}

@media (min-width:1500px) {
    .text-section {
        padding: 0 10% !important;
    }
}

.title-text {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    /*text-decoration: underline;*/
    border-bottom: 1px solid #ffffff;
    /* Underlines the first sentence */
    padding-bottom: 10px;
    margin-bottom: 16px;
    /* Adds space between the title and the lines */
}

.sentence {
    text-align: left;
    margin: 5px 5px;
}

.model-link {
    text-decoration: none;
    color: #7EAAFF
}

.model-link:hover {
    text-decoration: underline;
}

.model-link:visited {
    color: #d19efa;
}

.arrow {
    width: 25px;
    height: 20px;
    margin: 0;
    transition: transform .3s ease;
}

.arrow.rotated {
    transform: rotateX(180deg);
}